aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.4.0
beanie==1.8.12
black==21.12b0
chardet==4.0.0
click==8.0.3
colorama==0.4.4
discord.py==2.0.0a3575+g45d498c1
dnspython==2.2.0
idna==3.3
isort==5.10.1
motor==2.5.1
multidict==6.0.2
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.4.1
pydantic==1.9.0
pymongo==3.12.3
toml==0.10.2
tomli==1.2.3
typing_extensions==4.0.1
yarl==1.7.2
